<body>
    Experimenting with CRUD operations using Mongoose, MongoDB, Handlebars, and Express. Give it a try and add a couple courses!
<form action="/course/add" >
<p>
 <button type="submit">Click here to begin adding some courses!</button>
</p>
</form>
</body>

