table {
    width: 100%;
  }
  
  table, th, td,button {
    border: 3px solid lightgrey;
    border-collapse: collapse;
    
  }
  
  th, td {
    padding: 2px 4px;
  }



  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  
  button{
      border-radius: 5px;
  }
  
 
  
  div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  body{
    background-color: #f2f2f2;
  }
  
